

.home_page_text{
    padding: 16px 0;
}
.fruit__blog_title{
    padding: 8px 0;
}
.fruit_blog_content_item{
    // width: 569px;
}
.fruit_blog_content_title{
font-weight: 600;
font-size: 22px;
color: var(--c1-j);
}
.fruit_blog_content_list{
    padding: 48px 45px;
   display: flex;
   gap: 32px;
   justify-content: center;
   
}
.blog_post_item_bg{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 24px;
}
.fruit_content{
    padding: 237px 0px 24px 24px;
    width: 569px;
}
.fruit_content_text{
    width: 380px;
}