.checkout_span {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.checkout_homepage_text {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-a);
}

.checkout_homepage {
    padding: 16px 0;
}

.billing_info_title {
    font-weight: 600;
    font-size: 22px;
    color: var(--c1-a);
    margin-bottom: 4px;
}

.billing_info_text {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.billing_info_pages {
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: var(--c1-c);
}

.page_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.checkout_input {
    padding: 12px 16px 12px 21px;
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 319px;
    background: var(--c1-h);
    // display: block
}

.checkout_input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-c);
}

.checkout_form {
    display: grid;
    grid-template-columns: repeat(2, 319px);
    gap: 32px;

}

.ship_adress {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    padding: 9px 16px;
    width: 243px;
    background: var(--c1-h);
    display: flex;
    gap: 8px;
    align-items: center;
}

.checkout_label {
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 2px solid var(--c1-d);

}

.checkout_text {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-a);
}

.checkout_last_input:checked+.checkout_label {
    background-color: var(--c2-a);
    border: 2px solid var(--c2-b);
    background-image: url(../img/checkbox_tick.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.billing_info_block {
    margin-bottom: 64px;

}

.billing_method_title_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.billing_method_title {
    font-weight: 600;
    font-size: 22px;
    color: var(--c1-a);
    margin-bottom: 4px;
}

.billing_method_text {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.billing_method_page {
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: var(--c1-c);
}

.billing_method_radio_label {
    width: 24px;
    height: 24px;
    fill: var(--c1-j);
    border: 2px solid var(--c1-d);
    border-radius: 50%;
    display: inline-block;
    margin-left: 16px;
}

.billing_method_radio {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 670px;
    height: 48px;
    background: var(--c1-h);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fedex {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
    margin-left: 16px;
}

.usd {
    font-weight: 600;
    font-size: 12px;
    color: var(--c2-a);
}

.additional {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.inner_flex {
    display: flex;
    gap: 4px;
}

.radio_flex {
    display: flex;
    align-items: center;
}

.fedex_img {
    margin-right: 16px;
}

.billing_method_radio_input:checked+.billing_method_radio_label {
    background-color: #000;
}

.billing_method_radio {
    margin-bottom: 16px;
}

.billing_info_left_input_block {
    width: 670px;
}

.billing_method_radio_block {
    margin-bottom: 64px;
}

.payment_method_title_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.payment_method_title {
    font-weight: 600;
    font-size: 22px;
    color: var(--c1-a);
    margin-bottom: 4px;
}

.payment_method_text {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.payment_method_page {
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: var(--c1-c);
}

.payment_method_label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid var(--c1-d);
    border-radius: 50%;
}

.payment_method_radio:checked+.payment_method_label {
    background-color: var(--c2-a);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        background-color: #fff;
    }
}

.payment_method_radio_text {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.payment_method_radio_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.payment_card_num_block {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    padding: 16px;
    width: 670px;
    background: var(--c1-j);
}

.payment_radio_flex {
    display: flex;
    align-items: center;
    gap: 16px;
}

.payment_method_card_number {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.card_number_input {
    padding: 12px 16px 12px 21px;
    width: 638px;
    border: none;
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    background: var(--c1-h);

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: var(--c1-c);
    }
}

.payment_method_payment_card {
    margin-bottom: 32px;
}

.card_holder_input {
    padding: 12px 16px 12px 21px;
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 350px;
    background: var(--c1-h);
    display: block;

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: var(--c1-c);
    }
}

.card_holder_label {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.Expiration_date_label {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.Expiration_date_input {
    padding: 12px 16px 12px 21px;
    display: block;
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 120px;
    background: var(--c1-h);

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: var(--c1-c);
    }
}

.cvc_label {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.cvc_input {
    padding: 12px 16px 12px 21px;
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 120px;
    background: var(--c1-h);
    display: block;

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: var(--c1-c);
    }
}

.bottom_flex {
    display: flex;
    gap: 32px;
}

.mini_input {
    display: flex;
    gap: 16px;
}

.payment_card_num_block {
    margin-bottom: 16px;
}

.billing_method_radio_input:checked+.bitcoin {
    background-color: var(--c2-a);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }
}

.payment_method_form {
    margin-bottom: 64px;
}



.order_note_label {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.order_note_input {
    padding: 12px 16px 82px 21px;
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 670px;
    height: 112px;
    display: block;
    background: var(--c1-h);

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: var(--c1-c);
    }
}

.Additional_informations {
    margin-bottom: 64px;
}

.confirm {
    margin-bottom: 32px;
}

.confirmation1 {
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 2px solid var(--c1-d);
}

.confirmation_input:checked+.confirmation1 {
    background-color: var(--c2-a);
    border: 2px solid var(--c2-b);
    background-image: url(../img/checkbox_tick.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.confirmation_checkbox {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    padding: 9px 16px;
    width: 578px;
    height: 42px;
    background: var(--c1-h);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.confirmation_text {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-a);
}

.confirmation_text2 {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-a);
}

.confirmation_btn {
    font-weight: 700;
    font-size: 15px;
    text-align: right;
    color: var(--c1-j);
    border: 2px solid var(--c2-b);
    border-radius: 12px;
    padding: 12px 48px;
    width: 218px;
    height: 56px;
    background: var(--c2-a);
    margin-top: 16px;
    margin-bottom: 32px;
}

.confirm_title {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
    margin-bottom: 2px;
}

.confirm_text {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
    width: 213px;
}

.confirmation_img {
    margin-bottom: 8px;
}

.checkout_input_block {
    // display: flex;
    //  gap: 32px;
    display: block;
    
}
.asjdkgafjglasgf{
    display: flex;
    gap: 32px;
}

// right
.billing_info_right_input_block {
    width: 468px;
    height: 800px;
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    padding: 32px 16px;
    background: var(--c1-j);
}

.order_summary_title {
    font-weight: 600;
    font-size: 22px;
    color: var(--c1-a);
}

.order_summary_text {
    font-weight: 400;
    font-size: 11px;
    color: var(--c1-c);
    margin-bottom: 40px;
}

.summary_img {
    margin-bottom: 12px;
}

.summary_a {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.summary_a_block {
    display: flex;
    align-items: center;
    gap: 6px;
}

.summary_product_sub {
    font-weight: 500;
    font-size: 15px;
    color: var(--c1-a);
    margin-bottom: 4px;
}

.summary_product_item {
    display: flex;
    gap: 14px;
    margin-bottom: 8px;
}

.summary_inner_text_sub {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.summary_inner_text {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-a);
}

.summary_product_title_block {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;

}

.summary_item_price_btn {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    padding: 6px 56px 6px 6px;
    width: 92px;
    height: 32px;
    background: var(--c1-h);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--c1-c);
    background: var(--c1-h);
}

.summary_btn_block {
    position: relative;
}

.summary_select {
    position: absolute;
    border: none;
    right: 4px;
    top: 7px;
    background-color: var(--c1-h);
}

.summary_option {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.summary_span {
    position: absolute;
    border: 1px solid var(--c1-d);
    width: 0px;
    height: 20px;
    right: 49px;
    top: 5px;
    transform: translate(-50%, 1%);
}

.summary_item_price_block {
    display: flex;
    align-items: center;
    gap: 137px;
}

.summary_star {
    margin-bottom: 16px;
}

.summary_current_price {
    font-weight: 600;
    font-size: 17px;
    color: var(--c2-a);
}

.summary_previous_price {
    font-weight: 600;
    font-size: 12px;
    text-decoration: line-through;
    color: var(--c1-c);
}

.subtotal_text {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.subtotal_price {
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    color: var(--c1-a);
}

.summary_promo_input {
    margin-top: 32px;
    position: relative;
    margin-bottom: 40px;
}

.promo_input {
    padding: 12px 16px 12px 21px;
    width: 436px;
    border: 1px solid var(--c1-d);
border-radius: 12px;
background: var(--c1-h);


    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: var(--c1-c);
    }

}
.promo_text{
position: absolute;
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-a);
    top: 8px;
    right: 16px;
}
.total_price_text{
font-weight: 600;
font-size: 12px;
color: var(--c1-a);
}
.total_price_sub{
font-weight: 400;
font-size: 12px;
color: var(--c2-a);
}
.total_price{
font-weight: 600;
font-size: 26px;
text-align: right;
color: var(--c2-a);
}
.total_price_block{
    display: flex;
    justify-content: space-between;
}