.footer {
    padding: 64px 0;
}

.footer_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.footer_link_title {
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
    margin-bottom: 16px;
}

.footer_link {
    font-weight: 400;
    font-size: 14px;
    color: var(--c2-a);
    margin-bottom: 16px;
}

.footer_bottom_title {
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
    margin-bottom: 16px;
}

.footer_bottom_btn {
    border-radius: 12px;
    padding: 4px 10px;
    display: block;
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
    background-color: var(--c1-f);
    gap: 16px;
    text-align: center;
}
.footer_bottom_btn_block{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}