.top_header_block {
    padding: 16px 0;
    border-bottom: 1px solid var(--c1-c);
}

.top_header_left_link_chosen {
    font-weight: 400;
    font-size: 12px;
    color: var(--c2-a);
}

.top_header_left_link {
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-a);
}

.top_header_block {
    display: flex;
    justify-content: space-between;
}

.top_header_left_list {
    display: flex;
    gap: 33px;
}

.top_header_right_link {
    font-weight: 400;
    font-size: 12px;
    color: var(--c2-a);
}

.top_header_right_list {
    display: flex;
    gap: 38px;
}

// mid_header
.mid_header {
    padding: 40px 0;
}

.header_mid_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_input {
    padding: 11px 44px 11px 194px;
    width: 500px;
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    background: var(--c1-h);

}

.header_select {
    border: none;
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-a);
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.select_block::after {
    content: "";
    position: absolute;
    background-image: url(../img/input_line.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 2px;
    left: 157px;
    top: 10px;
}

.input_block {
    position: relative;
}

.input_img_block:after {
    content: "";
    position: absolute;
    background-image: url(../img/header_search.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    left: 468px;
    top: 13px;
    transform: translate(-50% -50%);
}

.mid_personal_store {
    display: flex;
    gap: 40px;
}

// new version 

.header_bottom_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    list-style-type: none;
}


.header_bottom_item {
    padding: 20px;
    position: relative;
}

.bottom_list {
    width: 50px;
    background-color: #fff;
    text-align: center;
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 58px;
    transition: all 0.4s ease;
}

.header_bottom_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #000;
}

.header_p {
    color: #000;
}

.header_bottom_item:hover .bottom_list {
    display: block;
    opacity: 1;
    z-index: 1;
}



.fa-solid {
    position: absolute;
    right: -30px;
    top: 2px;
    transition: all .5s ease;
}

.header_bottom_list>.header_bottom_item:hover>.fa-solid {
    transform: rotate(180deg);
}