.carrot_related_products{
    padding: 64px 0;
}

.carrot_related_products_title{
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
}
.carrot_related_products_right{
font-weight: 700;
font-size: 15px;
color: var(--c1-a);
}
.carrot_related_products_title_block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}
.carrot_related_products_last_list{
    display: flex;
    justify-content: space-between;
}